@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  /* Neutral Color */
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-1: oklch(0.99 0 0); /* #fcfcfc */
  --color-gray-2: oklch(0.98 0 0); /* #f9f9f9 */
  --color-gray-3: oklch(0.96 0 0); /* #f0f0f0 */
  --color-gray-4: oklch(0.93 0 0); /* #e8e8e8 */
  --color-gray-5: oklch(0.91 0 0); /* #e0e0e0 */
  --color-gray-6: oklch(0.89 0 0); /* #d9d9d9 */
  --color-gray-7: oklch(0.85 0 0); /* #cecece */
  --color-gray-8: oklch(0.79 0 0); /* #bbbbbb */
  --color-gray-9: oklch(0.64 0 0); /* #8d8d8d */
  --color-gray-10: oklch(0.61 0 0); /* #838383 */
  --color-gray-11: oklch(0.5 0 0); /* #646464 */
  --color-gray-12: oklch(0.24 0 0); /* #202020 */

  /* Font Size */
  --text-*: initial;
  --text-xxs: calc(1rem * 8 / 12); /* ≒10.67px | ≒0.6667rem */
  --text-xs: calc(1rem * 8 / 10); /* 12.80px | 0.8rem */
  --text-sm: calc(1rem * 8 / 9); /* ≒14.22px | ≒0.8889rem */
  --text-base: calc(1rem * 8 / 8); /* 16.00px | 1rem */
  --text-md: calc(1rem * 8 / 7); /* ≒18.29px | ≒1.143rem */
  --text-lg: calc(1rem * 8 / 6); /* ≒21.33px | ≒1.333rem */
  --text-xl: calc(1rem * 8 / 5); /* 25.60px | 1.6rem */
  --text-2xl: calc(1rem * 8 / 4); /* 32.00px | 2rem */
  --text-3xl: calc(1rem * 8 / 3); /* ≒42.67px | ≒2.667rem */
  --text-4xl: calc(1rem * 8 / 2); /* 64.00px | 4rem */

  /* Line Height */
  --leading-*: initial;
  --leading-12: calc(1rem * 0.75); /* 12px | 0.75rem */
  --leading-16: calc(1rem * 1); /* 16px | 1rem */
  --leading-20: calc(1rem * 1.25); /* 20px | 1.25rem */
  --leading-24: calc(1rem * 1.5); /* 24px | 1.5rem */
  --leading-28: calc(1rem * 1.75); /* 28px | 1.75rem */
  --leading-32: calc(1rem * 2); /* 32px | 2rem */
  --leading-48: calc(1rem * 3); /* 48px | 3rem */
  --leading-64: calc(1rem * 4); /* 64px | 4rem */

  /* Spacing */
  --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-1: calc(8px / 8); /* 1px */
  --spacing-2: calc(8px / 4); /* 2px */
  --spacing-4: calc(8px / 2); /* 4px */
  --spacing-8: calc(8px * 1); /* 8px */
  --spacing-16: calc(8px * 2); /* 16px */
  --spacing-24: calc(8px * 3); /* 24px */
  --spacing-40: calc(8px * 5); /* 40px */
  --spacing-64: calc(8px * 8); /* 64px */
  --spacing-104: calc(8px * 13); /* 104px */
  --spacing-168: calc(8px * 21); /* 168px */

  /* Border Radius */
  --radius-*: initial;
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .prose p > code {
    background-color: lightgray;
    color: black;
    padding: 1px 4px;
    border-radius: 4px;
  }

  @media (prefers-color-scheme: dark) {
    .prose p > code {
      background-color: #98a1ad33;
      color: #eee;
      padding: 1px 4px;
      border-radius: 4px;
    }
  }

  .prose p > code::after {
    content: none;
  }

  .prose p > code::before {
    content: none;
  }

  .print-only {
    display: none;
  }
  @media print {
    .print-only {
      display: block;
    }
  }
}
