@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  /* --*: initial; */
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  /* For light theme */
  --color-gray-1: oklch(0.991 0 0); /* #fcfcfc */
  --color-gray-2: oklch(0.982 0 0); /* #f9f9f9 */
  --color-gray-3: oklch(0.955 0 0); /* #f0f0f0 */
  --color-gray-4: oklch(0.931 0 0); /* #e8e8e8 */
  --color-gray-5: oklch(0.91 0 0); /* #e1e1e1 */
  --color-gray-6: oklch(0.885 0 0); /* #d9d9d9 */
  --color-gray-7: oklch(0.851 0 0); /* #cecece */
  --color-gray-8: oklch(0.792 0 0); /* #bbbbbb */
  --color-gray-9: oklch(0.64 0 0); /* #8c8c8c */
  --color-gray-10: oklch(0.603 0 0); /* #818181 */
  --color-gray-11: oklch(0.5 0 0); /* #636363 */
  --color-gray-12: oklch(0.239 0 0); /* #1f1f1f */

  --color-main-bg: oklch(0.991 0 0);
  --color-sub-bg: oklch(0.982 0 0);
  --color-main-text: oklch(0.239 0 0);
  --color-sub-text: oklch(0.5 0 0);

  /* For dark theme */
  --color-dark-gray-1: oklch(0.178 0 0); /* #111111 */
  --color-dark-gray-2: oklch(0.213 0 0); /* #191919 */
  --color-dark-gray-3: oklch(0.252 0 0); /* #222222 */
  --color-dark-gray-4: oklch(0.281 0 0); /* #292929 */
  --color-dark-gray-5: oklch(0.313 0 0); /* #313131 */
  --color-dark-gray-6: oklch(0.348 0 0); /* #3a3a3a */
  --color-dark-gray-7: oklch(0.402 0 0); /* #484848 */
  --color-dark-gray-8: oklch(0.489 0 0); /* #606060 */
  --color-dark-gray-9: oklch(0.535 0 0); /* #6d6d6d */
  --color-dark-gray-10: oklch(0.58 0 0); /* #7a7a7a */
  --color-dark-gray-11: oklch(0.767 0 0); /* #b3b3b3 */
  --color-dark-gray-12: oklch(0.949 0 0); /* #eeeeee */

  --color-dark-main-bg: oklch(0.178 0 0);
  --color-dark-sub-bg: oklch(0.213 0 0);
  --color-dark-main-text: oklch(0.949 0 0);
  --color-dark-sub-text: oklch(0.767 0 0);

  /* For Accent Color */
  --color-red: oklch(66% 0.2267 26.03); /* #ff4040 */
  --color-orange: oklch(89% 0.183881 96.6097); /* #ffda00 */
  --color-green: oklch(75% 0.1876 130.93); /* #83c52e */
  --color-dark-red: oklch(62% 0.1665 23.24); /* #d95555 */
  --color-dark-orange: oklch(85% 0.174 94.84); /* #f2cb05 */
  --color-dark-green: oklch(67% 0.162 129.46); /* #73a626 */

  /* Font Size */
  --text-*: initial;
  --text-xxs: 0.667rem; /* ≒10.67px | ≒0.6667rem */
  --text-xs: 0.8rem; /* 12.80px | 0.8rem */
  --text-sm: 0.887rem; /* ≒14.22px | ≒0.8889rem */
  --text-base: 1rem; /* 16.00px | 1rem */
  --text-md: 1.1431rem; /* ≒18.29px | ≒1.143rem */
  --text-lg: 1.3331rem; /* ≒21.33px | ≒1.333rem */
  --text-xl: 1.6rem; /* 25.60px | 1.6rem */
  --text-2xl: 2rem; /* 32.00px | 2rem */
  --text-3xl: 2.6675rem; /* ≒42.67px | ≒2.667rem */
  --text-4xl: 4rem; /* 64.00px | 4rem */

  /* Font Family */
  /* --font-*: initial; */
  --font-sans: -apple-system, BlinkMacSystemFont, Inter, "Noto Sans JP",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-ud: -apple-system, BlinkMacSystemFont, Inter, "BIZ UDGothic",
    sans-serif;

  /* Line Height */
  --leading-*: initial;
  --leading-12: 0.75rem; /* 12px | 0.75rem */
  --leading-16: 1rem; /* 16px | 1rem */
  --leading-20: 1.25rem; /* 20px | 1.25rem */
  --leading-24: 1.5rem; /* 24px | 1.5rem */
  --leading-28: 1.75rem; /* 28px | 1.75rem */
  --leading-32: 2rem; /* 32px | 2rem */
  --leading-48: 3rem; /* 48px | 3rem */
  --leading-64: 4rem; /* 64px | 4rem */

  /* Spacing */
  --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-1: 1px; /* 1px */
  --spacing-2: 2px; /* 2px */
  --spacing-4: 4px; /* 4px */
  --spacing-8: 8px; /* 8px */
  --spacing-16: 16px; /* 16px */
  --spacing-24: 24px; /* 24px */
  --spacing-40: 40px; /* 40px */
  --spacing-64: 64px; /* 64px */
  --spacing-104: 104px; /* 104px */
  --spacing-168: 168px; /* 168px */

  /* Border Radius */
  --radius-*: initial;
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
}

body {
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

.prose p > code {
  @apply text-xs;
  background-color: theme("colors.gray.4");
  padding: 2px 4px;
  border-radius: 4px;
}


.prose p > code::after {
  content: none;
}

.prose p > code::before {
  content: none;
}

.prose ul {
  list-style: none;
  padding-left: 0;
}

.prose li {
  position: relative;
  padding-left: .65lh;
}

.prose li::before{
  position: absolute;
  top: 0.4lh;
  content: "";
  left: 0.1lh;
  display: inline-flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1.5px solid theme("colors.gray.10") 
}

.prose li::marker {
  content: none;
}

.print-only {
  display: none;
}

p {
  max-width: 80ch;
}

*:focus-visible {
  outline: 3px dotted theme("colors.gray.12");
  outline-offset: 2px;
  border-radius: theme("radius.2");
}

@media print {
  .print-only {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .prose p > code {
    background-color: theme('colors.dark.gray.4');
  }

 .prose li::before{
  border-color: theme("colors.dark.gray.10");
 }

*:focus-visible {
  outline: 3px dotted theme("colors.white");
  outline-offset: 2px;
  border-radius: theme("radius.2");
}
}
