@tailwind base;
@tailwind components;
@tailwind utilities;

.prose p > code {
  background-color: lightgray;
  color: black;
  padding: 1px 4px;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  .prose p > code {
    background-color: #98a1ad33;
    color: #eee;
    padding: 1px 4px;
    border-radius: 4px;
  }
}

.prose p > code::after {
  content: none;
}

.prose p > code::before {
  content: none;
}

.print-only {
  display: none;
}
@media print {
  .print-only {
    display: block;
  }
}
